USE [master]
GO
/****** Object:  Database [CopaDoMundo]    Script Date: 10/10/2022 16:56:07 ******/
CREATE DATABASE [CopaDoMundo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CopaDoMundo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SENAI\MSSQL\DATA\CopaDoMundo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CopaDoMundo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SENAI\MSSQL\DATA\CopaDoMundo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CopaDoMundo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CopaDoMundo]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 10/10/2022 16:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[IDArea] [int] NOT NULL,
	[ValorIngresso] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alocacao]    Script Date: 10/10/2022 16:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alocacao](
	[IDArea] [int] NOT NULL,
	[IDTor] [int] NOT NULL,
	[DataAlocacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDArea] ASC,
	[IDTor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[AreaQtd]    Script Date: 10/10/2022 16:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[AreaQtd] as
select a.IDArea as IDAreaArea, COUNT(al.IDArea) as Qtd from alocacao al
right join area a on al.IDArea = a.IDArea
group by a.IDArea
GO
/****** Object:  Table [dbo].[Torcedor]    Script Date: 10/10/2022 16:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Torcedor](
	[IDTor] [int] NOT NULL,
	[IDNome] [varchar](50) NULL,
	[Idade] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alocacao]  WITH CHECK ADD FOREIGN KEY([IDArea])
REFERENCES [dbo].[Area] ([IDArea])
GO
USE [master]
GO
