@model IEnumerable<Copa_do_Mundo.Models.AreaQtd>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    @foreach (var item in Model)
    {
        string cor = item.Qtd > 0 ? "blue" : "red";
        <a href="/Alocacao/ListarPorArea?idarea={@item.IDAreaArea}" target="_blank">
            <div style="background-color:@cor">
                Área: @item.IDAreaArea
                Qtd: @item.Qtd
            </div>
        </a>
    }
</div>