
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Idade</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>