
@{
    ViewBag.Title = "ListaTorcedor";
}

<h2>ListaTorcedor</h2>

<div>
    <div class="linkcor">
        <a class="torpai" href="/Torcedor/Detalhes?id=1">
            Id:<br />
            Nome:
        </a>
        <a class="torpai" href="/Torcedor/Detalhes?id=1">
            Id:<br />
            Nome:
        </a>
        <a class="torpai" href="/Torcedor/Detalhes?id=1">
            Id:<br />
            Nome:
        </a>
    </div>
</div>